[Unit]
Description=Quorum Node
After=network.target

[Service]
Environment=PRIVATE_CONFIG=ignore
User=root
ExecStart={{ quorum_install_dir }}/geth \
    --datadir {{ quorum_data_dir }} \
    --networkid {{ quorum_network_id }} \
    --nodiscover \
    --verbosity 5 \
    --syncmode full \
    --istanbul.blockperiod 5 \
    --mine --miner.threads 1 --miner.gasprice 0 --emitcheckpoints \
    --http --http.addr 0.0.0.0 --http.port 22000 --http.corsdomain "*" --http.vhosts "*" \
    --ws --ws.addr 0.0.0.0 --ws.port 32000 --ws.origins "*" \
    --http.api admin,eth,debug,miner,net,txpool,personal,web3,istanbul \
    --ws.api admin,eth,debug,miner,net,txpool,personal,web3,istanbul \
    --unlock {{ node_address }} \
    --allow-insecure-unlock \
    --password {{ quorum_data_dir }}/keystore/password \
    --port 30303

Restart=on-failure

[Install]
WantedBy=multi-user.target
